*{
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
}
@font-face {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    src: url(https://fonts.gstatic.com/s/opensans/v44/....woff2) format('woff2');
}
.main_header{
    height: 84px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: #fff;
}

header{
    height: 84px;
    width: 100%;
    background-color: #fff;
}

.hidden_menu{
    display: none;
}

.burger{
    display: none;
}

.center_header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 74%;
}

.left_header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left_header nav ul li{
    list-style: none;
    text-decoration: none;
    line-height: 20px;
}

.left_header nav ul li a{
    color: #5e5e5e;
    padding: 32px 20px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.left_header nav ul li a:hover{
    color: #75c5cf;
}

.left_header nav ul li a.active_header{
    color: #75c5cf;
}

.right_header img{
    padding: 20px 60px 20px 0;
    border-right: 1px solid #e1e1e1;
    max-width: 100%;
}


/* body */

.main_img{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 449px;
}

.main_img img{
    width: 100%;
}

.hero {
    position: relative;
    width: 100%;
    height: 450px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hotels_title {
    position: absolute;
    display: flex;
    flex-direction: column;
    inset: 0;
    align-items: center;
    color: #fff;
    left: calc(80% - 500px);
    margin-top: 20px;

    text-align: center;
}

.five_stars_hotels {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    flex-wrap: wrap;
}

.five_stars_hotels h1 {
    font-size: clamp(26px, 4vw, 45px);
    margin: 0 10px;
}

.five_stars_hotels i {
    color: #fff;
}

.hotels_title h2 {
    font-size: clamp(16px, 2.5vw, 30px);
    margin: 15px 0;
    font-weight: 400;
}

.button_div button {
    padding: 12px 18px;
    font-size: 14px;
    
}


/* ********* */

.button_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.button_div button a{
    text-decoration: none;
    color: #fff;
}
.button_div button{
    padding: 13px 14px;
    font-size: 14px;
    background-color: #c11b9f;
    border: 1px solid #b40892;
    text-shadow: 0 -1px 0 #c026a1;
    cursor: pointer;
    font-weight: normal;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

.button_div button:hover{
    background-color: #f449d2;;
}

.main_rooms_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rooms_div{
    margin-top: 100px;
    width: 80%;
}

.card_div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.rooms_title{
    color: #5e5e5e;
    margin-bottom: 50px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.rooms_title span{
    border-top: 2px solid #ccc;
    width: 33%;
}

.rooms_title h1{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.1;
}

.card{
    position: relative;
    width: 356px;
    height: 294px;
    overflow: hidden;
    border: 1px solid #ebebeb; 
}

.card img{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.5s ease;
}

.card_body, .card button{
    transition: transform 0.5s ease;
}

.card button a {
    color: #fff;
    text-decoration: none;
}


.card_body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
    height: 55px;
    border-left: 1px solid #ebebeb;
}
.card_body > p{
    font-size: 12px;
    padding: 0 0 0 10px;
}

.card button{
    background-color: #64cedb;
    border: 1px solid #35929e;
    color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .125);
    height: 34px;
    width: 100%;
    overflow: hidden;
}

.card:hover .card_body, .card:hover button{
    transform: translateY(-240px);
}

.card:hover img{
    transform: translateY(-100%);
}

.hover_div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-bottom: 3px solid #ebebeb;

    pointer-events: none;
}

.card button:hover {
    text-shadow: 0 -1px 0 #50878e;
    background-color: #75c5cf;
    border-color: #35929e;
    cursor: pointer;
}

.card_body:hover{
    cursor: pointer;
}

.price{
    background-color: rgba(90, 186, 198, 0.05);
    padding: 9px 25px;
    border-top: none;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}

.price > p:first-child{
    color: #75c5cf;
    font-size: 18px;
}

.price p:last-child{
    color: #979797;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
}



/* usp */

.usp{
    margin-top: 100px;
}

.usp_title{
    color: #5e5e5e;
    margin-bottom: 50px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.usp_title span{
    border-top: 2px solid #ccc;
    width: 36%;
}

.usp_cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.usp_card_box{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.circle{
    padding: 30px;
    border: 1px solid #75c5cf;
    border-radius: 50%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
}
.circle i{
    color: #75c0cf;
}

.circle:hover i, .circle:hover{
    cursor: pointer;
    background-color: #75c5cf;
    color: #fff;
}

.usp_card_box h3{
    font-size: 18px;
    line-height: 1.1;
    font-weight: 600;
    color: #5e5e5e;
    margin: 20px 0 10px;
}

.usp_card_box p{
    margin: 0 0 10px;
    font-size: 13px;
    color: #333;
    text-align: center;
    line-height: 1.5;
    width: 262px;
}

.usp_card_box a{
    text-decoration: none;
    font-size: 13px;
    color: #75c5cf;
}

.usp_card_box a:hover{
    color: #333;
    transition: 0.3s ease-in;
}

/* footer */

footer{
    margin-top: 307px;
    height: 74px;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer_text{
    color: #c1c1c1;
    font-size: 12px;
    padding: 0 15px;
    padding-left: 180px;
}



/* responsive */

@media screen and (max-width: 780px){
 .main_header{
    width: 100%;
    justify-content: space-between;
 }

 .center_header{
    width: 100%;
    justify-content: space-between;
 }

 .right_header{
    padding: 15px;
 }

 .left_header{
    display: none;
 }

 .burger{
    display: flex;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-right: 15px;
 }

 .burger{
    cursor: pointer;
 }

 .hidden_menu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 40px;
 }

 .hidden_menu ul {
    padding: 0;
    width: 100%;
 }

 .hidden_menu ul li{
    background-color: #fff;
    list-style: none;
    padding: 15px;
    border-bottom: 1px solid #e1e1e1;
    display: block;
    width: 100vh;
 }

.hidden_menu ul li a{
    text-decoration: none;
    color: #5e5e5e;
    font-weight: bold;
 }

 .response{
    position: absolute;
 }

 .usp_cards{
    display: flex;
    flex-direction: column;
 }

 .usp_card_box{
    margin-top: 20px;
    width: 100%;
 }

 .usp_title h1{
    font-size: 24px;
    width: 30%;
    text-align: center;
 }

}